<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Inventario Pro</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

<nav class="navbar navbar-dark">
    <div class="container d-flex justify-content-between">
        <span class="navbar-brand fw-bold">📦 Inventario Pro</span>
        <span class="text-light">Panel de Gestión</span>
    </div>
</nav>

<div class="container">

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success mt-3">
{% for m in messages %}
<p>{{ m }}</p>
{% endfor %}
</div>
{% endif %}
{% endwith %}

{% block contenido %}{% endblock %}

</div>

</body>
</html>