{% extends 'base.html' %}

{% block contenido %}

<div class="card">

<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h4 class="mb-0">Inventario</h4>
        <small class="text-muted">Gestión de productos</small>
    </div>

    <a href="/nuevo" class="btn btn-success"> Nuevo Producto</a>
</div>

<table class="table table-hover">
<thead>
<tr>
<th>ID</th>
<th>Producto</th>
<th>Precio</th>
<th>Stock</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>
{% for p in productos %}
<tr>

<td>{{ p['id'] }}</td>

<td>
    <strong>{{ p['nombre'] }}</strong><br>
    <small class="text-muted">{{ p['categoria'] }}</small>
</td>

<td>Bs {{ p['precio'] }}</td>

<td>
{% if p['stock'] < 5 %}
<span class="badge bg-danger">Bajo ({{ p['stock'] }})</span>
{% else %}
<span class="badge bg-success">Disponible ({{ p['stock'] }})</span>
{% endif %}
</td>

<td>
<a href="/editar/{{p['id']}}" class="btn btn-warning btn-sm">Editar</a>
<a href="/eliminar/{{p['id']}}" class="btn btn-danger btn-sm"
onclick="return confirm('¿Eliminar producto?')">Eliminar</a>
</td>

</tr>
{% endfor %}
</tbody>

</table>

</div>

{% endblock %}